.donation {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #d1d1d1;
    margin: 1rem 1rem;
    padding: 0.5rem;

    &__amount {
       border-bottom: 1px solid #d1d1d1;
      
       &--with-padding {
           padding: 0.5rem;
       }
    }

    &__donor-details {
        border-bottom: 1px solid #d1d1d1;

        &--with-padding {
            padding: 0.5rem;
        }
    }

    &__message{
        
        &--with-padding {
            padding: 0.5rem;
        }
    }
}